/* SCREEN STYLE */

/* RESET */
	@import url(reset.meyer.css);

/* FONTS */
	/* font-family: 'Rye', serif; */
	@import url(http://fonts.googleapis.com/css?family=Rye);
	
	/* font-family: 'IM Fell DW Pica', serif; */
	@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic);
	
	/* font-family: 'Creepster', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Creepster);
	
	/* font-family: 'Annie Use Your Telescope', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
	
	/* font-family: 'Yesteryear', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Yesteryear);

/* DEFAULT STYLE */
	html {
		font:13px tahoma, sans-serif;
		line-height:20px;
	}
	
	a {}
	a:hover {}

	strong {font-weight:bold;}
	em {font-style:italic;}
	strike {text-decoration:line-through}

	.hidden,
	.print {display:none;}
	.clean {float:none;clear:both;}

	::-moz-focus-inner {border: 0;}

	input[type=submit]:focus {outline: 0;}

	::-webkit-input-placeholder,
	:-moz-placeholder {
		color:#999;}

	::selection,
	::-moz-selection {
		color:white;background:black;text-shadow:none;
	}

	input,
	select,
	option,
	textarea {
		font:inherit;
		color:inherit;
	}



/* LAYOUT STYLE */
	html, body {
		overflow:hidden;
		border:0px;
		margin:0;
		padding:0;
		text-align:center;
	}
	
	canvas{
		display:block;
		outline:0;
		border:0px solid #000;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}

	h1 {
		font-family:rye, serif;
		font-size:30px;
		line-height:45px;
	}
	
	/* fonts */
	@font-face {
    	font-family: 'Matura';
    	src: url('res/matura.TTF');
	}
	.rape {
		font-family:'Creepster', serif;
	}
	
	.speak {
		font-family:'Annie Use Your Telescope', serif;
	}
	.speak2 {
		font-family:'Yesteryear', serif;
	}
	.speak3 {
		font-family:'IM Fell DW Pica', serif;
	}
	
	
	
