/* SCREEN STYLE */

/* RESET */
	@import url(reset.meyer.css);

/* FONTS */
	/* font-family: 'Rye', serif; */
	@import url(http://fonts.googleapis.com/css?family=Rye);
	
	/* font-family: 'IM Fell DW Pica', serif; */
	@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic);
	
	/* font-family: 'Creepster', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Creepster);
	
	/* font-family: 'Annie Use Your Telescope', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
	
	/* font-family: 'Yesteryear', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Yesteryear);

	/* font-family: 'IM fell Great Primer', serif;*/
	@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);

/* DEFAULT STYLE */
	html {
		font:13px tahoma, sans-serif;
		line-height:20px;
	}
	
	a {
		color: #355D00;
		background-color: transparent;
		font-weight: normal;
		text-decoration: none;

	}
	a:hover {}

	strong {font-weight:bold;}
	em {font-style:italic;}
	strike {text-decoration:line-through}

	.hidden,
	.print {display:none;}
	.clean {float:none;clear:both;}

	::-moz-focus-inner {border: 0;}

	input[type=submit]:focus {outline: 0;}

	::-webkit-input-placeholder,
	:-moz-placeholder {
		color:#999;}

	::selection,
	::-moz-selection {
		color:white;background:black;text-shadow:none;
	}

	input,
	select,
	option,
	textarea {
		font:inherit;
		color:inherit;
	}

	table{
		width: 100%;
	}


/* LAYOUT STYLE */
	html, body {
		background-color: #ebebeb;
		border:0px;
		margin:0;
		padding:0;
		text-align:center;
	}

	.box {
		background-color: #fff;
		width: 800px;
		height: 500px;
		border:2px solid #000;
		margin: auto;
		font: 16px/23px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	.counterBox{
		text-align: left;
		width:800px;
		height: 25px;
		color: #0000FF;
	}

	#contentBox{
		text-align: left;
		width: 70%;
		margin: auto;
	}

	canvas{
		display:block;
		outline:0;
		border:0px solid #000;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}

	h1 {
		font-family:IM Fell DW Pica, serif;
		font-size:70px;
		line-height:90px;
	}

	h3 {
		font-family:IM Fell DW Pica, serif;
		font-size:70px;
	}

	h2 {
		font-family:IM Fell DW Pica, serif;
		font-size:40px;
		line-height:60px;
	}

	.topBox{
		width: 100%;
		height: 150px;
		margin: 150px 0 0 0;
	}


	.gobalContainer{
		margin: 0 auto;
		font: 16px/23px normal Helvetica, Arial, sans-serif;
		position: relative;
		color: #4F5155;
	}

	.leftContainer{
		text-align: left;
		height: 400px;
		float:left;
		margin:20px 0 0 50px;
		width: 300px;
		border-right: 1px solid #BBB;
	}

	.rightContainer{
		text-align: right;
		float:right;
		height: 400px;
		margin:20px 50px 0 0;
		width: 300px;
		border-left: 1px solid #BBB;
	}

	.contentCol{
		width: 100%;
		margin: 0 auto;
	}

	.middleContainer{
		width: 500px;
		height: 400px;
		margin: auto;
		padding-bottom: 20px;
		border-bottom: 1px solid #BBB;
	}

	#container{
		width: 60%;
		margin: 15% auto 10% auto;
	}

	#topBox{
		width: 60%;
		margin-top: 5%;
	}

	.bottomBox{
		width:800px;
		height:200px;
		margin:10px auto auto auto;
	}

	
	/* fonts */
	@font-face {
    	font-family: 'Kingthings';
    	src: url('../fonts/Kingthings_Calligraphica_2-webfont.ttf') format('truetype');
    	font-weight: normal;
    	font-style: normal;
	}
	
 	.rape {
		font-family:'Creepster', serif;
		font-size:28px;
		line-height:28px;
	}
	
	.speak {
		font-family:'Annie Use Your Telescope', serif;
	}
	.speak2 {
		font-family:'Yesteryear', serif;
	}
	.speak3 {
		margin-left: 5px;
		margin-top: 5px;
		font-family:'IM fell Great Primer', serif;
		font-size: 22px;
	}

	.speak4 {
		width: 70%;
		margin:auto;
		font-family: 'IM fell Great Primer', serif;
		font-size:22px;
		line-height:28px;
	}

	p {
		width: 70%;
		margin:auto;
		font-family: 'IM fell Great Primer', serif;
		font-size:22px;
		line-height:28px;
	}

	.slideshow{
		width: 800px;
		height: 150px;
		margin:auto;
	}

	.slideshow .img{
		padding: 15px;
		border: 1px solid #ccc;
		background-color: #eee;
		margin:auto;
	}

	.slideOutput{
		width: 800px;
		height: 320px;
		margin: auto;
		text-align: left;
	}
