/* SCREEN STYLE */

/* RESET */
	@import url(reset.meyer.css);

/* FONTS */
	/* font-family: 'Rye', serif; */
	@import url(http://fonts.googleapis.com/css?family=Rye);
	
	/* font-family: 'IM Fell DW Pica', serif; */
	@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic);
	
	/* font-family: 'Creepster', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Creepster);
	
	/* font-family: 'Annie Use Your Telescope', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
	
	/* font-family: 'Yesteryear', cursive; */
	@import url(http://fonts.googleapis.com/css?family=Yesteryear);

	/* font-family: 'IM fell Great Primer', serif;*/
	@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);

/* DEFAULT STYLE */
	html {
		font:13px tahoma, sans-serif;
		line-height:20px;
	}
	
	a {
		color: #355D00;
		background-color: transparent;
		font-weight: normal;
		text-decoration: none;

	}
	a:hover {}

	strong {font-weight:bold;}
	em {font-style:italic;}
	strike {text-decoration:line-through}

	.hidden,
	.print {display:none;}
	.clean {float:none;clear:both;}

	::-moz-focus-inner {border: 0;}

	input[type=submit]:focus {outline: 0;}

	::-webkit-input-placeholder,
	:-moz-placeholder {
		color:#999;}

	::selection,
	::-moz-selection {
		color:white;background:black;text-shadow:none;
	}

	input,
	select,
	option,
	textarea {
		font:inherit;
		color:inherit;
	}

	table{
		width: 100%;
	}


	.headerBox{
		position: absolute;
		width: 800px;
		height: 100px;
		top: 40px;
		left: 100px;

	}

	.centerBox{
		background-image: url('../images/bg.png');
		position: relative;
		height: 800px;
		width: 1000px;
		margin: auto;

	}

	.imgBox{
		position: absolute;
		width: 800px;
		height: 300px;
		top: 115px;
		left: 100px;
	}

	.leftImgBox{
		position: absolute;
		width: 150px;
		height: 150px;
		top: 125px;
		left: 100px;
	}

	.leftImgTextBox{
		position:absolute;
		width: 180px;
		height: 30px;
		top: 115px;
		left: 155px;
	}

	.leftImgTextBox .ruleText{
		font-family:'Treasure map Deadhand', serif;
		font-size: 40px;
		line-height:20px;
		margin: 15px auto;
		padding:0;
		display:block;
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		writing-mode: lr-tb;
	}

	.rightImgBox{
		position: absolute;
		width: 180px;
		height: 130px;
		top: 80px;
		right: 130px;
	}

	.rightImgTextBox{
		position:absolute;
		width: 180px;
		height: 30px;
		top: 225px;
		left: 485px;
	}

	.rightImgTextBox .playText{
		font-family:'Treasure map Deadhand', serif;
		font-size: 40px;
		line-height:20px;
		margin: 15px auto;
		padding:0;
		display:block;
	}


	.middleBox{
		position: absolute;
		width: 800px;
		bottom: 50px;
		left: 100px;
		height: 250px;
	}

	.leftContent{
		position: absolute;
		width: 400px;
		height: 220px;
		bottom:30px;
		left: 30px;
	}

	.rightContent{
		position: absolute;
		float:right;
		bottom:30px;
		right: 0;
		width: 350px;
		height: 220px;

	}

/* LAYOUT STYLE #a2cee7*/
	html, body {
		background-color: #a2cee7;
		border:0px;
		margin:0;
		padding:0;
		text-align:center;
	}

	.box {
		background-color: #fff;
		width: 800px;
		height: 500px;
		border:2px solid #000;
		margin: auto;
		font: 16px/23px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	.counterBox{
		text-align: left;
		width:800px;
		height: 25px;
		color: #0000FF;
	}

	canvas{
		display:block;
		outline:0;
		border:0px solid #000;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}

	h2 {
		font-family: 'Treasure map Deadhand';
		font-size: 100px;
		line-height:20px;
		margin: 50px auto;
		padding:0;
		display:block;
	}

	h3 {
		font-family:'IM fell Great Primer', serif;
		font-size:25px;
		line-height:20px;
		margin: 15px auto;
		padding:0;
		display:block;
	}

	.topBox{
		width: 100%;
		height: 150px;
		margin: 0 0 0 0;
	}

	.textStuff{
		font:14px 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande', tahoma, sans-serif;
		color:#455;
		text-shadow: 1px 1px 0px #BBB;
		padding:5px 0 0 0;
		margin:0 0 15px 0;
		text-align: left;
	}


	#topBox{
		width: 60%;
		margin-top: 5%;
	}

	.bottomBox{
		width:800px;
		height:200px;
		margin:10px auto auto auto;
	}

	
	/* fonts */
	@font-face {
		font-family: 'Treasure map Deadhand';
		src: url('../fonts/Treamd.ttf') format('truetype');
    	font-weight: normal;
    	font-style: normal;
	}

	.speak4 {
		width: 70%;
		margin:auto;
		font-family: 'IM fell Great Primer', serif;
		font-size:22px;
		line-height:28px;
	}

	p {
		width: 70%;
		margin:auto;
		font-family: 'IM fell Great Primer', serif;
		font-size:22px;
		line-height:28px;
	}

	.slideshow{
		width: 800px;
		height: 150px;
		margin:auto;
	}

	.slideshow .img{
		padding: 15px;
		border: 1px solid #ccc;
		background-color: #eee;
		margin:auto;
	}

	.slideOutput{
		width: 800px;
		height: 320px;
		margin: auto;
		text-align: left;
	}

	.tweets{

	}

	.tweets img{
		float:left;
		padding-right: 10px;
		max-height:50px;
	}

	.tweets p{
		font:13px 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande', tahoma, sans-serif;
		color:#455;
		text-shadow: 1px 1px 0px #BBB;
		padding:5px 0 0 0;
		text-align: left;
	}

	.meta{
		text-align: left;
		padding-bottom: 5px;
	}